<ul class="list-group">
  <li class="list-group-item"><a routerLink="/wellcome">Home</a></li>
  <button class="list-group-item" mat-button [matMenuTriggerFor]="menu">Animales</button>
  <button class="list-group-item" mat-button [matMenuTriggerFor]="menuVet">Veterinarios</button>
</ul>


<mat-menu #menu="matMenu">
  <button mat-menu-item>Visualizar</button>
  <button mat-menu-item>Agregar</button>
</mat-menu>

<mat-menu #menuVet="matMenu">
  <button mat-menu-item>Visualizar</button>
  <button mat-menu-item> <a [routerLink]="['add-vet']">Agregar</a></button>
</mat-menu>
