<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand mr-5" routerLink="/dashboard">PetlyAdmin</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#defaultNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="defaultNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a style="cursor: pointer;" class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Veterinarios</a>
        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="view-vet">Visualizar</a>
          <a class="dropdown-item" routerLink="add-vet">Agregar</a>
          <a class="dropdown-item">Eliminar</a>
          <a class="dropdown-item">Modificar</a>
        </div>
      </li>
    </ul>
  </div>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="defaultNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a style="cursor: pointer;" class="nav-link dropdown-toggle" id="id02" ngbDropdownToggle>Perros</a>
        <div class="dropdown-menu" aria-labelledby="id02" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="view-dogs">Visualizar</a>
          <a class="dropdown-item" routerLink="add-dog">Agregar</a>
          <a class="dropdown-item">Eliminar</a>
          <a class="dropdown-item">Modificar</a>
        </div>
      </li>
    </ul>
  </div>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="defaultNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a style="cursor: pointer;" class="nav-link dropdown-toggle" id="id03" ngbDropdownToggle>Donaciones</a>
        <div class="dropdown-menu" aria-labelledby="id03" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="view-don">Visualizar</a>
        </div>
      </li>
    </ul>
  </div>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="defaultNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a style="cursor: pointer;" class="nav-link dropdown-toggle" id="id04" ngbDropdownToggle>Voluntarios</a>
        <div class="dropdown-menu" aria-labelledby="id04" ngbDropdownMenu>
          <a class="dropdown-item">Visualizar</a>
          <a class="dropdown-item">Agregar</a>
          <a class="dropdown-item">Eliminar</a>
          <a class="dropdown-item">Modificar</a>
        </div>
      </li>
    </ul>
  </div>






</nav>
