<table class="mt-5 table table-striped table-bordered text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido Paterno</th>
      <th scope="col">Apellido Materno</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let veterinario of veterinarios" >
      <td>{{veterinario.id}}</td>
      <td>{{veterinario.nombre}}</td>
      <td>{{veterinario.apellidoPaterno}}</td>
      <td>{{veterinario.apellidoMaterno}}</td>
      <td>{{veterinario.email}}</td>
    </tr>
  </tbody>
</table>
